<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-top: 30px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 20px auto;
            width: 50%;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        li {
            margin-bottom: 10px;
        }

        a.button {
            color: #fff;
            display: inline-block;
            text-align: center;
            padding: 10px 20px;
            margin: 0 auto 10px auto;
            border: 1px solid #007bff;
            border-radius: 5px;
            background-color: #007bff;
            transition: background-color 0.3s ease;
        }

        a.button:hover {
            background-color: #0056b3;
        }

        form {
            text-align: center;
            margin-top: 20px;
        }

        button {
            padding: 10px 20px;
            background-color: #dc3545;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #c82333;
        }
    </style>
</head>

<body>
    <h1><%= product.name %></h1>
    <ul>
        <li>Price: $<%= product.price%></li>
        <li>Category: <a href="/products?category=<%= product.category%>"><%= product.category%></a></li>
    </ul>
    <a href="/products" class="button">All Products</a>
    <a href="/products/<%=product._id%>/edit" class="button">Edit Product</a>
    <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>

</html>
